html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 40px;
}

.navbar a {
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: aqua;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container button {
  background: black;
  border: 2px solid black;
  border-radius: 8px;
  color: #fff;
  font-size: .8rem;
  font-weight: 700;
  padding: 8px 16px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  cursor: pointer;
  margin-top:  20px;
}

.contact-container button:hover {
  background-color: #fff;
  color: black;
}

.cards-container h1{
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .cards-container img {
    max-width: 95px;
  }
}